@use "/src/sass/base/variables.scss" as *;

@mixin title {
    color: $Dark;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

@mixin buttons {
    display: block;
    border: 1px solid $Dark;
    border-radius: 2px;
    text-align: center;
    color: $Dark;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    text-transform: uppercase;
}