@use "/src/sass/base/variables.scss" as *;

.footer {
    margin-top: 95px;
    padding: 50px 0;
    height: 814px;
    background-color: $Dark;
    color: $Light;
    display: flex;

    &__input-checkbox {
        margin-top: 40px;
    }

    &__input {
        margin-top: 40px;
        width: 293px;
        height: 32px;
        padding: 0 5px 15px 0;
        background-color: inherit;
        font-size: 14px;
        color: $Light;
        outline: none;
        border: none;
        border-bottom: 1px solid $ui-active;

        &::placeholder {
            color: $ui-active;
        }
    }

    &__label {
        margin-top: 20px;
        display: flex;
        align-items: center;

        a {
            color: rgba(162, 45, 198, 1);
            text-decoration: none;
            margin-left: 4px;
        }
    }

    &__checkbox {
        width: 15px;
        height: 15px;
        border-radius: 2px;
        margin-right: 15px;
        accent-color: $ui-active;
        border: 1px solid $Light;


    }

    &__btn-form-footer {
        margin-top: 20px;
        padding: 10px 15px;
        color: $Light;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-transform: uppercase;
        background-color: $Dark;
        border: 1px solid $Light;
    }



}