@use "/src/sass/base/variables.scss" as *;

.header {
    display: flex;
    justify-content: space-between;

    &__logo {
        width: 100px;
        height: 100px;
    }

    &__icons {
        display: flex;
        gap: 15px;
        align-items: flex-start;

        a {
            display: block;
            color: $Dark;

            span {
                display: block;
                width: 20px;
                height: 20px;

                &::before {
                    margin: 0;
                }
            }
        }
    }
}

.burger {
    display: flex;
    height: 23px;
    flex-direction: column;
    row-gap: 10px;
    padding-right: 35px;

    span {
        display: block;
        width: 20px;
        height: 1px;
        background-color: $Dark;
    }
}