@use "/src/sass/base/variables.scss" as *;

.header {
    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 100px;
        height: 100px;
    }

    &__icons {
        display: flex;
        gap: 15px;
        align-items: flex-start;

        a {
            display: block;
            color: $Dark;

            span {
                display: block;
                width: 20px;
                height: 20px;

                &::before {
                    margin: 0;
                }
            }
        }
    }

    &__nav {
        display: none;
    }
}

.burger {
    display: flex;
    height: 23px;
    flex-direction: column;
    row-gap: 10px;
    padding-right: 35px;

    span {
        display: block;
        width: 20px;
        height: 1px;
        background-color: $Dark;
    }
}

@media screen and (min-width: 768px) {
    .header {
        &__nav {
            display: block;
            margin-top: 20px;

            ul {
                display: flex;
                padding-left: 0;
                list-style-type: none;
                justify-content: center;
                gap: 30px;
            }
        }

        &__link {
            text-decoration: none;
            color: $Dark;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase;
        }
    }

    .burger {
        visibility: hidden;
    }
}

@media screen and (min-width: 1920px) {
    .header {
        &__logo {
            width: 150px;
            height: 151px;
        }

        &__nav {
            margin-top: 36px;

            ul {
                gap: 60px;
            }
        }
    }
}