@use "/src/sass/base/variables.scss" as *;

.touch {
    padding-top: 60px;

    &__wrapper {
        margin-top: 60px;
    }

    &__img {
        display: none;
    }

    &__fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }

    &__label {
        display: block;
        color: $Dark;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;

        &:nth-child(2) {
            margin-top: 8px;
        }
    }

    &__input {
        width: 100%;
        height: 48px;
        padding: 10px 15px;
        color: $Dark;
        border: 1px solid rgba(226, 225, 229, 1);
        border-radius: 2px;
        background: rgba(255, 255, 255, 1);

        &:focus {
            border: none;
            outline: 1px solid $Dark;
        }

        &::placeholder {
            color: $ui-disabled;
            font-size: 14px;
        }
    }

    &__textarea {
        width: 100%;
        height: 132px;
        padding: 10px 15px;
        color: $Dark;
        border: 1px solid rgba(226, 225, 229, 1);
        border-radius: 2px;
        background: rgba(255, 255, 255, 1);
        resize: none;

        &:focus {
            border: none;
            outline: 1px solid $Dark;
        }

        &::placeholder {
            color: $ui-disabled;
            font-size: 14px;
        }
    }

    &__check-block {
        margin-top: 20px;
        display: flex;
        align-items: center;

        a {
            color: rgba(162, 45, 198, 1);
            text-decoration: none;
            margin-left: 4px;
        }
    }

    &__checkbox {
        margin-right: 15px;
        width: 15px;
        height: 15px;
    }

    &__btn {
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) {
    .touch {
        &__img-wrapper {
            position: relative;
        }

        &__img-decor {
            display: block;
            position: absolute;
            right: 0;
            top: -85px;
        }

        &__input {
            width: 300px;
        }

        &__textarea {
            width: 300px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .touch {
        &__img {
            display: block;
            width: 550px;
            height: 342px;
            object-fit: cover;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        }

        &__input {
            &:hover {
                border: none;
                outline: 1px solid $Dark;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .touch {
        &__img {
            width: 100%;
            height: 356px;
        }
    }
}