@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.btn-default {
    @include buttons;
    width: 230px;
    height: 50px;
    font-size: 20px;
}

.btn-send {
    @include buttons;
    width: 220px;
    height: 40px;
    font-size: 16px;

    &:focus {
        outline: 1px solid $Ceramic;
        border: 1px solid $Ceramic;
    }

    &:disabled {
        color: $ui-disabled;
        border: 1px solid $ui-disabled;
    }
}

@media screen and (min-width: 1200px) {
    .btn-default {
        &:hover {
            color: $Light ;
            background-color: $Dark;
            transition: 0.5s;
        }

        &:active {
            color: $Dark;
            border: none;
            box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
            background-color: rgba(217, 217, 217, 0.1);
        }
    }

    .btn-send {
        &:active {
            outline: 1px solid $Ceramic;
            border: 1px solid $Ceramic;
        }

        &:hover {
            border: 1px solid $Ceramic;
            color: $Ceramic;
        }
    }
}

@media screen and (min-width: 1920px) {
    .btn-default {
        width: 330px;
        height: 60px;
    }
}